/* Estilizando a barra de rolagem vertical */
*::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  padding:2px;
}


*::-webkit-scrollbar-thumb {
  background-color: #BCB4B6;
  border-radius: 4px;
}

/* Estilos gerais */
html{
	scroll-behavior:smooth;
}
*{
	margin: 0px;
	padding: 0px;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  width:100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  text-align:center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 5px 5px 0px 5px;
  text-align:center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  
  text-align:center;
}

/* Estilos do banner */
#banner {
	background-image: url("clientes.jpg");
	background-position: center center;
	background-size: 100% auto;
  padding: 100px ;
  text-align: center;
  color: #fff;
}

#banner h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#banner p {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bubut{
	
  display: inline-block;
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius:3px;
  
}
.cta-button:hover {
  background-color: #555;
  
}

/* Estilos da seção "Sobre nós" */
#sobre {
  background-color: #D6CECE;
  margin:30px 100px;
   border-radius:5px;
   padding:30px;
}

#sobre h2 {
  font-size: 24px;
  margin-bottom: 10px;
 
}

#sobre p {
  margin-bottom: 20px;
}

/* Estilos da seção "Nossos serviços" */
#servicos {
  background-color: #D6CECE;
   margin:30px 100px;
   border-radius:5px;
   padding:30px;
}

#servicos h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
#clientes {
  background-color: white;
  padding: 30px 0;
  height:500px;
}

#clientes h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Estilos do formulário de contato */
form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:20px;
  align-items:center;
}
textarea{
	height:100px;
}

button {
  padding: 10px 20px;
 background-color: #555;
 border:none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom:10px;
}

button:hover {
  background-color: #333;
}

/* Estilos do rodapé de contato */
footer {
  background-color: #333;
  text-align: center;
  border-radius:5px;
   padding:30px;
  margin:30px 100px;
}

footer p {
	padding:5px;
  color: #fff;
}
.contt{
	text-align: center;
	padding:15px;
  background-color: #333;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  #banner {
    padding: 50px 0;
  }
  input, textarea {
	  width:100px;
  }
  #sobre, #servicos, footer{
	  margin:20px 40px;
  }

  #banner h2 {
    font-size: 24px;
  }

  .cta-button {
    font-size: 14px;
  }
}
